.update-scores {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .update-scores h2 {
    margin-top: 0;
  }
  
  .update-scores form {
    display: flex;
    flex-direction: column;
  }
  
  .update-scores label {
    margin-bottom: 10px;
  }
  
  .update-scores input {
    padding: 8px;
    margin-top: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  